<html>
    <body>
        <h1>User</h1>
        <div if(data.validationErrors)>
            <div for(error in data.validationErrors)>
                ${error.param} - ${error.msg}
            </div>
        </div>
        <form action="/users" method="post">
            <div if(data.user.id)>
                <input type="hidden" name="_method" value="PUT"/>
                <input type="hidden" id="id" name="id" value="${data.user.id}"/>
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="${data.user.name}"/>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="${data.user.email}"/>
            </div>
            <div>
                <label for="descricao">Password:</label>
                <input type="text" id="password" name="password" value="${data.user.password}"/>
            </div>

            <input type="submit" value="Submit" />
        </form>
    </body>
</html>